/* Write your CSS here */
.tab-list {
  list-style-type: none;
  margin: 10px;
}
.tab-head {
  color: #7b8794;
  font-size: 20px;
  background-color: transparent;
  border: none;
}
.tab-light {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
  padding-bottom: 8px;
}
